* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gowun Dodum", sans-serif;
  border: 0;
  background: none;
}


.wrap {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.title {
  width: 100%;
  aspect-ratio: 30/4;
  margin: 50px 0 30px;
  background:url(../images/title.svg) center / contain no-repeat;
}

.wheelWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 512px;
  aspect-ratio: 1/1;
}

.wheel {
  position: absolute;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 50%;
}

.wheelWrap .wheel_1 {
  width: 100%;
  background: url(../images/wheel_1.svg) center/ contain no-repeat;
}
.wheelWrap .wheel_2 {
  width: 378px;
  background: url(../images/wheel_2.svg) center/ contain no-repeat;

}

.wheelWrap .wheel_3{
  width: 260px;
  background: url(../images/wheel_3.svg) center/ contain no-repeat;

}
.arrow {
  width: 42px;
  aspect-ratio: 1/1;
  z-index: 1;
  rotate: -2deg;
  transform-origin: center center;
}
.arrow:after {
  content: '';
  width: 87px;
  height: 70px;
  position: absolute;
  top: -50%;
  left: 85%;
  transform: translate(-50%,-0%);
  background: url(../images/arrow.svg) center / contain no-repeat;
}

.bigarrow {
  position: absolute;
  top: 108px;
  right: -2px;
  width: 242px;
  height: 182px;
  background: url(../images/bigArrow.svg) center / contain no-repeat;
}



.sector {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border : 1px solid red; */
  position: absolute;
  width: 60%;
  height: 50%;
  /* font-size: 17px; */
  /* line-height: 1; */
  /* text-align: center; */
  /* color: #fff; */
  transform-origin: center bottom;
  /* clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 30% 100%); */
}

.sector_2 {
  rotate: 72deg;
}
.sector_3 {
  rotate: 144deg;
}
.sector_4 {
  rotate: 216deg;
}

.sector_5 {
  rotate: 288deg;
}



/* 
.sector:after {
  content: '확대축소';
  display: flex;
  justify-content: center;
  position: absolute;
  width: 88%;
  height: 98%;
  clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 30% 100%);
  background-color: #4BA6DD;
}
 */

/* bottom---------------------------- */
.bottomTop .del {
  position: absolute;
  width: 75px;
  aspect-ratio: 1/1;
  right: 10px;
  bottom: 78px;
  background: url(../images/del.svg) center / contain no-repeat;
}

.bottom .bottom_BTN_wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0 0 0
}
.bottom .bottom_BTN_wrap > button {
  width: 157px;
  height: 59px;
}

.bottom .bottom_BTN_wrap > button.wheel_turn {
  background: url(../images/turn.svg) center/ contain no-repeat;
}
.bottom .bottom_BTN_wrap > button.wheel_stop {
  background: url(../images/stop.svg) center/ contain no-repeat;
}

