/* 초기화!!!! */
* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
  border: 0;
}

.wrap {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  background: url("../images/bgWrap.svg") center / contain no-repeat;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: 6px;
  left: 50%;
  transform: translate(-50%,-0%);
  width: 290px;
  height: 58px;
  background: url("../images/title.svg") center / contain no-repeat;
}
.title .titleIcon {
  width: 30px;
  height: 30px;
  background: url("../images/zoom.svg") center / contain no-repeat;
}

.title p {
  color: #292929;
  font-size: 24px;
  font-weight: 500;
}

.valmun {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 40px 0 0 60px;
  color: #917022;
  font-size: 28px;
}

.valmunIcon {
  width: 40px;
  height: 40px;
  background: url("../images/panda.svg") center / contain no-repeat;
}

.imagesWrap {
  position: relative;
  width: 445px;
  margin: 30px auto 0;
}

.imagesWrap .svgImg {
  position: absolute;
  background: none !important;
}

.imagesWrap .svgImg:nth-child(2) {
  height: 455px;
  width: 455px;
  top: 0px;
  left: -3px;
  background: url(../images/stroke_1.svg) left top / contain no-repeat;
}

.imagesWrap .svgImg:nth-child(3) {
height: 455px;
width: 455px;
top: -4px;
left: -2px;
background: url(../images/stroke_2.svg) left top / contain no-repeat;
}

.imagesWrap .svgImg:nth-child(4) {
height: 455px;
width: 455px;
top: -8px;
left: -2px;
background: url(../images/stroke_3.svg) left top / contain no-repeat;
}

.imagesWrap .svgImg:nth-child(5) {
height: 455px;
width: 455px;
top: -2px;
left: -7px;
background: url(../images/stroke_4.svg) left top / contain no-repeat;
}
.imagesWrap .svgImg:nth-child(6) {
height: 455px;
width: 455px;
top: -4px;
left: -5px;
background: url(../images/stroke_5.svg) left top / contain no-repeat;
}
.imagesWrap .svgImg:nth-child(7) {
height: 455px;
width: 455px;
top: -6px;
left: -5px;
background: url(../images/stroke_6.svg) left top / contain no-repeat;
}
.imagesWrap .svgImg:nth-child(8) {
height: 455px;
width: 455px;
top: -6px;
left: -6px;
background: url(../images/stroke_7.svg) left top / contain no-repeat;
}



.bottom {
  position: relative;
  bottom: -440px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bottom .textName {
  width: fit-content;
  padding: 5px 20px;
  border-radius: 50px;
  background: #FFEFBD;
  letter-spacing: 2px;
  font-size: 29px;
}

.replayIcon {
  position: relative;
  width: 48px;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 2px 3px 1px #b9b9b9;
}

.replayIcon_inner {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #fff url("../images/replay.svg") center / contain no-repeat;
}

.replayIcon_inner:hover {
  animation: rotate 0.8s ease-in-out both;
  opacity: 0.8;

}
@keyframes rotate {
  0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}
